body{
  background-color: papayawhip;
}

h1 {
  background-color: rgb(215, 0, 64);
  color: white;
  text-align: center;
}

#footer1{
  background-color: rgb(215, 0, 64);
  color: white;
  text-align: center;
  height: 5em;
}

#firstFooter1 {
  padding-top: 1em;
}


#container3{
  background-color: rgb(215, 0, 64);
  display: flex;
  height: 7em;
}

#logo3{
  flex:1;
}

#navigation-bar3{
  flex:2;
}

#navigation-bar3 nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 1em 1em;
}

#navigation-bar3 nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
}

#navigation-bar3 nav ul li a:hover{
  background: black;
}

#logo3 img{
  width: 50%;
  height: 100%;
}

#table table{
  border-collapse: collapse;
  font-size: 0.9em;
  margin: 1em 0;
  min-width: 16em;
}

#table table tr th{
  background-color:white;
  text-align: left;
  color: black;
}

#table table tr td{
  background-color: white;
}

#table table caption{
  background-color: #F71735;
  color: white;
}
.btn-submit{
  background-color: #F71735;
  color: white;
}
.btn-cancel{
  background-color: #F71735;
  color: white;
}
.input{
  width: 80%;
  height: 30%;
}