body{
  background-color: papayawhip;
}

h1 {
  background-color: rgb(215, 0, 64);
  color: white;
  text-align: center;
}

h2{
  background-color: rgb(215, 0, 64);
  color: white;
  text-align: center;
}

.price{
  background-color: rgb(215, 0, 64);
  color: white;
  font-size: 1.5em;
}

#footer2{
  background-color: rgb(215, 0, 64);
  color: white;
  text-align: center;
  height: 5em;
}

#firstFooter2 {
  padding-top: 1em;
}


#container2{
  background-color: rgb(215, 0, 64);
  display: flex;
  height: 7em;
}

#logo2{
  flex:1;
}

#navigation-bar2{
  flex:2;
}

#navigation-bar2 nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 1em 1em;
}

#navigation-bar2 nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
}

#navigation-bar2 nav ul li a:hover{
  background: black;
}

#logo2 img{
  width: 50%;
  height: 100%;
}

section img{
    width: 200px;
    display: block;
    margin: 0px auto;
    border: 1px solid gray;
    box-shadow: 0px 0px 10px black;
    box-sizing: border-box;
}

section {
    width: 250px;
    height: 500px;
    text-align: center;
    background: rgb(253, 254, 255);
    box-shadow: inset 0px 0px 20px black;
    padding-top: 20px;
    float: left;
    box-sizing: border-box;
    margin: 10px;
 }

button{
  overflow: hidden;
  position: relative;
  background-color: rgb(215, 0, 64);
}

button:focus{
  outline: none;
}

button .circle{
  position: absolute;
  background-color: white;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale .5s ease-out;
}

@keyframes scale{
  to{
      transform: translate(-50%, -50%) scale(3);
      opacity: 0;
  }
}
